@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #433379;
    position: relative;
    color: #CA9D46;
    font-family: 'Pacifico', cursive;
}
.main-btn:hover + .container-divisorias{
    display: block;
    transition: 2s;
}
.container-divisorias{
    width: 90vw;
    position: absolute;
    top: 10%;
    box-sizing: border-box;
}
.divisoria-esquerda{
    width: 30%;
    text-align: center;
    border: 1px solid;
    border-radius: 5%;
    box-shadow: 0px 10px#CA9D46;
    margin: 2vw;
    padding: 2vw;
    box-sizing: border-box;
}

.profile-pic{
    min-width: 100px;
    width: 50%;
    margin: 40px;
    border: 1px solid;
    border-radius: 50%;
}
.profile-description{
    min-width: 200px;
    width: 90%;
    margin: auto;
}
.profile-btn{
    background-color: #433379;
    color: white;
    border: 1px solid #CA9D46;
    border-radius: 5px;
    box-shadow: 0px 2px#CA9D46;
    padding: 10px;
    margin-top: 30px;
}
.profile-btn:hover{
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 12px#433379;
    color: white;
    background-color: #CA9D46;
    transition: 1s;
}